// OVERRIDE VARIABLES
// See more in https://github.com/ktquez/vuepress-theme-ktquez/blob/master/styles/config.styl

$primaryColor = #ffdd24
$accentColor = #3c4858

$colorImageFallback = $accentColor
