@import '~@theme/styles/config.styl'
// YOUR STYLES

.bullet
  background-color: $primaryColor !important

#main
  padding-left: 0
  padding-right: 0

.container main
  padding-left: 0
  padding-right: 0

.container,.container-fluid,.container-fluid,.wrapper-body__nm
  padding-left: 0
  padding-right: 0
