@import '~@theme/styles/config.styl'
// YOUR STYLES

.bullet
  background-color: $primaryColor !important

.container,.container-fluid,.container-fluid,.wrapper-body__nm
  padding-left: 0em
  padding-right: 0em

#main
  padding: 1em
